<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
     <link rel="icon" href="/img/download.jpeg">
</head>
<body>
    {{>header}}
<hr>

<p id="about">Original project by <a href="https://ramayan-api-by-sahil.herokuapp.com/">Sahil Chaudhary</a>. I just added handlebars and a generate button , removed mongodb and Bootstrap</p>

{{>footer}}
<script src="/js/index.js"></script>
</body>
</html>